{%extends 'base.html' %} {%block container %}

<div class="altaMedico">
    <div class="altaMedicoForm jumbotron w-50">
        <p class="pideCita">DAR DE ALTA <i class="bi bi-person-badge-fill"></i></p>
        <form action="" method="POST">
            {% csrf_token %}
            {%for field in form%}
            <div>
                <label>{{field.label}}</label>{{field}}
            </div>
            {%endfor%}
                <input type="submit" class="btn btn-success btn-lg" value="ACEPTAR">
            </div>
        </form>
        <p>{{mensaje}}</p>
    </div>
</div> 
{%endblock%}